<launch>
     
     <group>
        <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
            <param name="video_device" value="/dev/video0" />
            <param name="image_width" value="640" />
            <param name="image_height" value="480" />
            <param name="pixel_format" value="yuyv" />
            <param name="io_method" value="mmap"/>
            <param name="framerate" value="5" />
        </node>
        <node pkg="yolov2_ros" name="yolo_predict1" type="yolo_predict.py" output="screen">
            <param name="camera_id" type="str" value="0" />
            <param name="image_topic" type="str" value="/usb_cam1/image_raw" />
            <param name="image_type" type="str" value="rgb" />
            <param name="get_object_pos" type="bool" value="false" />
        </node>
    </group>

    <group>
        <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
            <param name="video_device" value="/dev/video1" />
            <param name="image_width" value="640" />
            <param name="image_height" value="480" />
            <param name="pixel_format" value="yuyv" />
            <param name="io_method" value="mmap"/>
        </node>
        <node pkg="yolov2_ros" name="yolo_predict2" type="yolo_predict.py" output="screen">
            <param name="camera_id" type="str" value="1" />
            <param name="image_topic" type="str" value="/usb_cam2/image_raw" />
            <param name="image_type" type="str" value="rgb" />
            <param name="get_object_pos" type="bool" value="false" />
        </node>
    </group>
    
    <include file="$(find yolov2_ros)/launch/includes/yolo_server.launch" />
    
</launch>